services:

  redpanda-console:
    image: docker.redpanda.com/redpandadata/console:v3.2.1
    container_name: redpanda-console
    network_mode: "host"
    environment:
      CONFIG_FILEPATH: /etc/redpanda/redpanda-console-config.yaml
    volumes:
      - ./redpanda/config.yaml:/etc/redpanda/redpanda-console-config.yaml

  akhq:
    image: tchiotludo/akhq
    container_name: akhq
    network_mode: "host"  # Use host network to access Kafka, listenning to 8081
    command: |
      java -Xmx512m -Xms512m 
           -Dfile.encoding=UTF-8 -Djava.awt.headless=true 
           -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/tmp/heapdump.log 
           -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=8686 -Dcom.sun.management.jmxremote.local.only=false -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false 
           -jar /app/akhq.jar
    environment:
      AKHQ_CONFIGURATION: |
        micronaut:
          server:
            port: 8081
        akhq:
          connections:
            docker-kafka-server:
              properties:
                bootstrap.servers: "localhost:9092,localhost:9192,localhost:9292"


  kafka-magic:
    image: digitsy/kafka-magic
    container_name: kafka-magic
    network_mode: "host"  # Use host network to access Kafka listenning to 80
    volumes:
      - ./kafka-magic/config:/config
    environment:
      # KMAGIC_ALLOW_TOPIC_DELETE: "true"
      KMAGIC_CONFIG_STORE_TYPE: "file"
      KMAGIC_CONFIG_STORE_CONNECTION: "Data Source=/config/KafkaMagicConfig.db;"
      KMAGIC_CONFIG_ENCRYPTION_KEY: "123456aA"
